<!DOCTYPE html>
<html>
<head>
    <!--Wix-->
    <script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.24.0/js/Wix.js"></script>
    <!--jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--Utils-->
    <script src="utils.js"></script>
    <script src="fonts.js"></script>
    <script src="upload.js"></script>
    <script src="globals.js"></script>
    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="widget.css">
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
    <script src="widget.js"></script>
    <script>

        //        var SERVER_URL = 'http://84.109.234.163:3020';
        var loadedFonts = [];


        //		var instanceId = 'Local-InstnaceId-rotem931',
        //		    compId     = 'Local-compId3-rotem931';
        //        var instanceId = Wix.Utils.getInstanceId(),
        //                compId = Wix.Utils.getCompId();
        var instanceId = '<%= instanceId %>',
                compId = '<%= compId %>',
                paid = '<%= paid %>',
                code = '<%= code %>',
                SERVER_URL = '<%= server %>',
                ejs = true;

        console.info('instanceId');
        console.info(instanceId);

        console.info('compId');
        console.info(compId);

        $(document).ready(function ()
        {

            buildAllFontsArray();
            var data = JSON.parse('<%- data %>');
            data.code = code;
            data.paid = paid == 'true';
            load(data);
        });
    </script>

</head>
<body id="widgetBody">
<div id="widget-container" class="widget-container">
    <div id="ribbon-container"></div>
    <div class='textBox' id='textBox'><%- code %></div>
    <!--<div id="ribbon" style="display: none;"></div>-->
</div>
</body>
</html>